<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Wah Yan SA.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>31AA03EC1E4AD9E7009E5BF8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>31AA04031E4AD9E8009E5BF8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>31AA040E1E4AD9E8009E5BF8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
