<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>860735750235-ir6e6loi62rf802vb8ot869itmea0opd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.860735750235-ir6e6loi62rf802vb8ot869itmea0opd</string>
	<key>API_KEY</key>
	<string>AIzaSyD_1dV_0pLghHZCh9fZrcE7QEJrcGLzfJw</string>
	<key>GCM_SENDER_ID</key>
	<string>860735750235</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aaroncheung430.FirebasePost</string>
	<key>PROJECT_ID</key>
	<string>post-bed03</string>
	<key>STORAGE_BUCKET</key>
	<string>post-bed03.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:860735750235:ios:1facf08df713ffce</string>
	<key>DATABASE_URL</key>
	<string>https://post-bed03.firebaseio.com</string>
</dict>
</plist>